.example-card {
  margin: 1cm;
  display: inline-flexbox;
  max-width: fit-content;
  max-height: fit-content;
}

.example-header-image {
  background-image: url("https://www.pngitem.com/pimgs/m/7-78859_money-jar-saving-clip-art-saving-money-clipart.png");
  background-size: cover;
}
